<h2> Registro de Solicitud de Crédito</h2>
<div class="container">
    <div>
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Dirección
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <input type="text" class="form-control input-sm" maxlength="255" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Código Postal
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <input type="text" class="form-control input-sm" maxlength="255" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Pais
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <select class="form-control input-sm">
                            <!-- <option *ngFor="let tipoDocumento of tipoDocumentoCombo" [ngValue]="tipoDocumento.ID">{{tipoDocumento.Nombre}}</option> -->
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Departamento
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <select class="form-control input-sm">
                            <!-- <option *ngFor="let tipoDocumento of tipoDocumentoCombo" [ngValue]="tipoDocumento.ID">{{tipoDocumento.Nombre}}</option> -->
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Provincia
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <select class="form-control input-sm">
                            <!-- <option *ngFor="let tipoDocumento of tipoDocumentoCombo" [ngValue]="tipoDocumento.ID">{{tipoDocumento.Nombre}}</option> -->
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Distrito
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <select class="form-control input-sm">
                            <!-- <option *ngFor="let tipoDocumento of tipoDocumentoCombo" [ngValue]="tipoDocumento.ID">{{tipoDocumento.Nombre}}</option> -->
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Monto Solicitado
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <input type="text" class="form-control input-sm" maxlength="1" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Plazo del Préstamo
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <input type="text" class="form-control input-sm" maxlength="1" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Seguro Degravamen
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <input type="text" class="form-control input-sm" maxlength="255" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Estado Civil
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <select class="form-control input-sm" >
                            <!-- <option *ngFor="let tipoDocumento of tipoDocumentoCombo" [ngValue]="tipoDocumento.ID">{{tipoDocumento.Nombre}}</option> -->
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Detalle el motivo del préstamo
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <input type="text" class="form-control input-sm" maxlength="255" />
                    </div>
                </div>
                Datos de tu Pareja
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Nombres
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <input type="text" class="form-control input-sm" maxlength="255" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Apellido Paterno
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <input type="text" class="form-control input-sm" maxlength="255" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Apellido Materno
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <input type="text" class="form-control input-sm" maxlength="255" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Tipo Documento
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <select class="form-control input-sm">
                            <!-- <option *ngFor="let tipoDocumento of tipoDocumentoCombo" [ngValue]="tipoDocumento.ID">{{tipoDocumento.Nombre}}</option> -->
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Numero Documento
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <input type="text" class="form-control input-sm" maxlength="255" />
                    </div>
                </div>
                ¿Como Generas Ingresos?
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Tipo de Actividad
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <select class="form-control input-sm">
                            <!-- <option *ngFor="let tipoDocumento of tipoDocumentoCombo" [ngValue]="tipoDocumento.ID">{{tipoDocumento.Nombre}}</option> -->
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Rubro de Actividad
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <select class="form-control input-sm">
                            <!-- <option *ngFor="let tipoDocumento of tipoDocumentoCombo" [ngValue]="tipoDocumento.ID">{{tipoDocumento.Nombre}}</option> -->
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Lugar de Trabajo
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <input type="text" class="form-control input-sm" maxlength="255" />
                    </div>
                </div>
                Necesitamos los datos de tu cuenta
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Tipo de Cuenta
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <select class="form-control input-sm">
                            <!-- <option *ngFor="let tipoDocumento of tipoDocumentoCombo" [ngValue]="tipoDocumento.ID">{{tipoDocumento.Nombre}}</option> -->
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Nombre del Banco
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <select class="form-control input-sm">
                            <!-- <option *ngFor="let tipoDocumento of tipoDocumentoCombo" [ngValue]="tipoDocumento.ID">{{tipoDocumento.Nombre}}</option> -->
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        Codigo Interbancario de la cuenta
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <input type="text" class="form-control input-sm" maxlength="255" />
                    </div>
                </div>
                <!-- <div class="row">
                    <button type="button" class="btn btn-default button" [disabled]="!registerFirstStepForm.valid" (click)="registerFirstStep()">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Siguiente</button>
                </div> -->
            </div>
        </form>
    </div>
</div>