<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Navbar</a>
        <button 
                class="navbar-toggler"
                type="button"
                (click)="toggleMenu()">
                <span class="navbar-toggler-icon"></span>
        </button>

        <div 
            class="collapse navbar-collapse"
            [class.show]="isCollapse"
            id="navbarsExampleDefault">

          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>

            <li class="nav-item dropdown" dropdown> <!-- {1} -->
              <a 
                dropdownToggle
                class="nav-link dropdown-toggle"
                role="button"> <!-- {2} -->
                Dropdown <span class="caret"></span>
              </a>
              <ul 
                *dropdownMenu
                class="dropdown-menu"> <!-- {3} -->
                  <li>
                    <a 
                        class="dropdown-item" 
                        href="#">
                        Action
                    </a>
                  </li>
                  <li>
                      <a 
                          class="dropdown-item" 
                          href="#">
                          Another action
                      </a>
                  </li>
                  <li>
                      <a 
                          class="dropdown-item" 
                          href="#">
                          Something else here
                      </a>
                  </li>
              </ul>
          </li>

          </ul>
        </div>
</nav>
