<h1>Felicitaciones su solicitud ha sido admitida</h1>

<p>
    Para iniciar el financiamiento necesitamos verificar tu dirección e ingresos económicos para lo cual necesitamos que adjuntes la siguiente información:
</p>

<ul>
    <li>
        Una copia legible en ambas caras de tu documento de indentidad
    </li>
    <li>
        Una copia legible de la última factura de cualquiero servicio público (agua, luz, gas, cable, teléfono, etc).
    </li>
    <li>
        Una copia legible de tu última boleta de pago para dependientes o recibos por honorarios para independientes que sustenten tus ingresos mensuales.
    </li>
</ul>
